// img url relative path to node_modules
$node_moules: '../../../../node_modules';

// theme variables
$dwl-blue: #8bafd3;
$dwl-yellow: #f6db7d;
$white: #ffffff;

// global variables
$font-size: 12px;
