<label>
    <input type="checkbox" val="{{bookmark.url}}">&nbsp;
</label>
<a ng-href="{{bookmark.url}}" target="_blank" ng-if="bookmark.url">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
</a>
<span class="glyphicon glyphicon-dwlfavicon" aria-hidden="true" data-lazy="{{bookmark.favicon}}"></span>
<span class="btn btn-link btn-xs bkSummary" role="button" data-toggle="collapse" data-target="#collapse{{bookmark.id}}" aria-expanded="false" aria-controls="collapse{{bookmark.id}}">
    <span class="caret"></span>&nbsp;
    <span ng-if="bookmark.title">{{bookmark.titleNoTag}}</span>
    <span ng-if="bookmark.url">{{bookmark.safeUrl}}</span>
    <span ng-if="!bookmark.title && !bookmark.url">id : {{bookmark.id}}</span>
    <span ng-show="!bookmark.url"> - folder</span>
    <br/>
    <span ng-if="bookmark.tagsToDisplay" ng-repeat="tag in bookmark.tagsToDisplay">{{tag.tag}}<span ng-if="!$last">&nbsp;</span></span>
</span>
<div class="collapse" id="collapse{{bookmark.id}}">
    <div ng-include src="'/templates/views/bookmarkdetails.html'"></div>
</div>
