<div class="well">

    <span class="glyphicon glyphicon-dwlfavicon" aria-hidden="true" data-lazy="{{dwlBk.tab.favicon}}"></span>

    <b>{{dwlBk.tab.titleNoTag}}</b><br/>
    <small>{{dwlBk.tab.title}}</small><br/>

    <a ng-href="{{dwlBk.tab.url}}" target="_blank">
        {{dwlBk.tab.safeUrl}}
    </a>
    <br/>

    <div ng-include src="'/templates/views/tabdetails.html'"></div>
    <button ng-click="createBookmark({'title':dwlBk.tab.title, 'url':dwlBk.tab.url})">add to bookmarks</button>

</div>
<hr/>
