<div ng-show="dwlBk.tab">
    <b>tab</b>
    id: {{tabdwlBk.tabid}} - index: {{dwlBk.tab.index}} - windowId: {{dwlBk.tab.windowId}}<br/>
    height: {{dwlBk.tab.height}} - width: {{dwlBk.tab.width}}<br/>
    incognito: {{dwlBk.tab.incognito}} - status: {{dwlBk.tab.status}}<br/>
    active: {{dwlBk.tab.active}} - audible: {{dwlBk.tab.audible}} - highlighted: {{dwlBk.tab.highlighted}}<span ng-repeat="(mutedIndex, mutedValue) in dwlBk.tab.mutedInfo"> - {{mutedIndex}}:{{mutedValue}}</span> - pinned: {{dwlBk.tab.pinned}} - selected: {{dwlBk.tab.selected}}<br/>
</div>
