<div id="auto-start-false-timer">
        <h2>AngularJS - Multiple Timers Example</h2>
        <h3>Timer 1: <timer autostart="false"/></h3>
        <h3>Timer 2: <timer autostart="false" interval="2000"/></h3>
        <h3>Timer 3: <timer autostart="false">{{minutes}} minutes, {{seconds}} seconds.</timer></h3>
        <button ng-click="startTimer()" ng-disabled="timerRunning">Start Timers</button>
        <button ng-click="resumeTimer()" ng-disabled="timerRunning">Resume Timers</button>
        <button ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timers</button>
</div>