<b>bookmark</b>
<div>
    <b>details</b>
    id: {{bookmark.id}} - added: {{bookmark.dateAdded}}<br/>
    index: {{bookmark.index}} - windowId: {{bookmark.windowId}}<br/>
    height: {{bookmark.height}} - width: {{bookmark.width}}<br/>
    incognito: {{bookmark.incognito}} - status: {{bookmark.status}}<br/>
    active: {{bookmark.active}} - audible: {{bookmark.audible}} - highlighted: {{bookmark.highlighted}}<span ng-repeat="(mutedIndex, mutedValue) in bookmark.mutedInfo"> - {{mutedIndex}}:{{mutedValue}}</span> - pinned: {{bookmark.pinned}} - selected: {{bookmark.selected}}<br/>
</div>
<div>
    <b>raw</b>
    <pre>
        {{bookmark | json}}
    </pre>
</div>
