<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-controller="dwlPopupCtrl">
    <head>

        <meta charset="utf-8">
        <meta name="description" content="{{title}}">
        <meta name="author" content="{{author}}">

        <title>{{title}}</title>

        <base href="/">

        <!-- Cascading Style Sheets -->
        <link href="../vendor/bootstrap-3.3.5/css/bootstrap-3.3.5.min.css" rel="stylesheet" media="screen">
        <link href="../vendor/ng-tags-input/css/ng-tags-input.min.css" rel="stylesheet" media="screen">
        <link href="../css/bootstrap-popup.css" rel="stylesheet" media="screen">
        <link href="../css/custom-popup.css" rel="stylesheet" media="screen">

    </head>

    <body ng-model="$route" class="{{$route.current.$$route.bodyClass}}" ng-class="{true:'editing'}[edit]">
        <section>
            <div class="header clearfix" ng-include="'/templates/structure/header.html'"></div>
            <div class="col-xs-12 content">
                <div class="view-animate-container tab-content">
                    <div ng-view class="view-animate"></div>
                </div>
            </div>
            <div class="row" ng-show="debug.get().debug" ng-include="'/templates/debug/debug.html'"></div>
        </section>


        <!-- javascripts -->
        <script type="text/javascript" src="../vendor/jquery-2.0.3/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="../vendor/bootstrap-3.3.5/js/bootstrap-3.3.5.min.js"></script>
        <script type="text/javascript" src="../vendor/angular-1.4.7/js/angular.js"></script>
        <script type="text/javascript" src="../vendor/angular-1.4.7/js/angular-route.min.js"></script>
        <script type="text/javascript" src="../vendor/angular-1.4.7/js/angular-animate.min.js"></script>
        <script type="text/javascript" src="../vendor/ui-bootstrap-0.13.4/js/ui-bootstrap-tpls-0.13.4.min.js"></script>
        <script type="text/javascript" src="../vendor/ng-tags-input/js/ng-tags-input.min.js"></script>
        <script type="text/javascript" src="../vendor/angular-timer-master/js/angular-timer-bower.js"></script>
        <script type="text/javascript" src="../vendor/angular-timer-master/js/angular-timer-all.min.js"></script>

        <!-- scripts -->
        <script type="text/javascript" src="../js/library/dwl-helper.js"></script>

        <script type="text/javascript" src="../js/popup/dwl-app.js"></script>
        <script type="text/javascript" src="../js/popup/dwl-app-config.js"></script>
        <script type="text/javascript" src="../js/popup/dwl-app-constant.js"></script>
        <script type="text/javascript" src="../js/popup/dwl-app-value.js"></script>
        <script type="text/javascript" src="../js/popup/dwl-app-service.js"></script>
        <!-- <script type="text/javascript" src="../js/popup/dwl-app-factory.js"></script> -->
        <script type="text/javascript" src="../js/popup/dwl-app-directive.js"></script>
        <script type="text/javascript" src="../js/popup/dwl-app-filter.js"></script>
        <script type="text/javascript" src="../js/modules/dwl-debug.js"></script>
        <script type="text/javascript" src="../js/modules/dwl-background.js"></script>
        <script type="text/javascript" src="../js/modules/dwl-ajax.js"></script>
        <script type="text/javascript" src="../js/popup/dwl-app-controller.js"></script>

        <script type="text/javascript" src="../js/popup.js"></script>

    </body>
</html>