<!-- <a ng-href="{{bookmark.url}}" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> -->
<button
    class="btn btn-xs btn-primary"
    ng-if="bookmark.type == 'bookmark' && bookmark.url !== dwlBk.tab.url"
    ng-click="openTab(bookmark.url)"
>
    Open
</button>
<button
    class="btn btn-xs btn-primary"
    ng-if="bookmark.type === 'tab'"
    ng-click="createBookmark({'title':bookmark.title, 'url':bookmark.url})"
>
    add
</button>
<button
    ng-model="oversave"
    class="btn btn-xs"
    ng-class="{false:'btn-primary', true:'btn-secondary'}[edit]"
    ng-if="bookmark.type === 'bookmark'"
    ng-init="bookmark.edit = edit;"
    ng-click="switchEditing(); bookmark.edit = edit;"
>
    {{ bookmark.edit ? 'save' : 'edit' }}
</button>
<button
    class="btn btn-xs btn-link"
    ng-if="bookmark.type === 'bookmark'"
    ng-click="removeBookmark(bookmark.id)"
>
    delete
</button>
