<ul class="nav nav-tabs">
  <li role="presentation" ng-show="false" ng-class="{index:'active'}[$route.current.$$route.bodyClass]" class="disabled"><a href="/">index</a></li>
  <li role="presentation" ng-class="{page:'active'}[$route.current.$$route.bodyClass]"><a href="/page">page</a></li>
  <li role="presentation" ng-class="{search:'active'}[$route.current.$$route.bodyClass]"><a href="/search">search</a></li>
  <li role="presentation" ng-show="false" class="disabled"><a ng-click="refresh();">refresh</a></li>
</ul>
