<div ng-show="bookmarks">
    <div>
        {{bookmarks.length}} bookmark(s)
    </div>
    <div>
        <div ng-repeat="bookmark in bookmarks">
            <div ng-include src="'/templates/views/bookmarkdetails.html'"></div>
        </div>
    </div>
</div>
<div ng-show="tab">
    <div>
        new bookmark<br/>
        <!-- bookmark.parentId -->
        <!-- bookmark.index -->
        <!-- bookmark.title -->
        <!-- bookmark.url -->
    </div>

    <div>
        <div ng-include src="'/templates/views/tab.html'"></div>
    </div>
</div>


