<div class="row">
    <div class="col-xs-6">
        <input ng-model="query" placeholder="search bookmarks">
        <button class="btn btn-primary btn-xs" ng-click="queryFilter='';searchBookmark();">search</button>
        <button class="btn btn-link btn-xs" ng-click="query='';queryFilter='';search.live=[];">clear</button>
    </div>
    <div class="col-xs-6">
        <input ng-model="queryFilter" placeholder="filter results">
        <small>results : {{(filteredBookmarks | filter:queryFilter).length}}</small>
    </div>
</div>
<hr class="row"/>
<div class="results" ng-show="search.live.length > 0">
    <div ng-repeat="bookmark in filteredBookmarks = (search.live | filter:queryFilter)" ng-include src="'/templates/snippets/bookmark.html'"></div>
</div>
