/**
 * Chrome Extension dwl bookmarker
 * Author CSS
 *
 */

/* loading */
.content {
    position:relative;
}

.dwlLoading {
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    /*width: 100%;*/
    height: 100%;
    z-index: 10;

/*    background: #ffffff;
    text-align: center;
    color: #333;
    font-size: 10rem;
    padding-top: 200px;
    opacity: .7;*/
}

/* structure */
.header {
    background: #8bafd3;
    color: #ffffff;
}
.header .img-responsive {
    max-height: 20px;
}
.header-nav {
  margin-top: 2px;
  margin-bottom: -6px;
}

/* title */
h1 {
  font-size: 19px;
  margin: 0;
}

hr.row {
    margin-bottom: 5px;
    margin-top: 5px;
}

/* nav */
.nav>li>a {
  color: #F1CF3A;
  padding: 2px 5px;
}

.nav>li>a:hover {
  color: #8bafd3;
}

/* btn */
.btn-primary {
    color: #fff;
    background-color: #8BAFD3;
    border-color: #2e6da4;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #2e6da4;
    border-color: #8BAFD3;
}

.btn-secondary {
    color: #FFFFFF;
    background-color: #F1CE39;
    border-color: #FAE8AE;
}

.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:hover {
    color: #FFFFFF;
    background-color: #FAE8AE;
    border-color: #F1CE39;
}

/* page */
body.page section {
    overflow-y: auto;
}

/* search */
body.search .results {
    overflow-y: scroll;
    max-height: 528px;
    overflow-x: hidden;
    width: inherit;
    margin-right: -17px;
}

body.search .similar {
    /*display: none;*/
}

/* nav */
.active {
    font-weight:bold;
}

.error:before {
    content: '[obsolete]';
    color:#FF0000;
    font-size:8px;
}

/* bookmark snippet */
.bookmark {
    border-bottom: 1px solid #F2D03B;
    margin-bottom: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
}

.bookmark input {
    width:100%;
    border:1px solid transparent;
    border-bottom-color:#8bafd3;
}

.bookmark input[readonly] {
    border-bottom-color:transparent;
}

.bookmark .editable, .bookmark .editable input[readonly] {
    /*cursor:pointer;*/
}

.bookmark .editable {
    color: #666666;
}

.bookmark.editing .editable {
    color: #333333;
}

.bookmark .editable:hover {
    color: #333333;
}

.bookmark .favicon {
    height:16px;
    width:16px;
}

.bookmark .btn {
    margin-bottom:5px;
    line-height: 1rem;
    height: 1.5rem;
    font-size: 1rem;
}

.bookmark tags-input .tags {
    border: none;
    box-shadow: none;
}

.bookmark tags-input .tags:hover {
    border: none;
}

.bookmark tags-input .tags .input,
.bookmark tags-input .tags .tag-item {
    width: auto;
}

.bookmark tags-input .tags .input {
    border-bottom: 1px solid #A9A9A9;
    line-height: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
}

.bookmark tags-input .tags .tag-item {
    color: #fff;
    background: #8BAFD3;
    border-color: #2e6da4;
    font:1rem "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 1.5rem;
    line-height: 1.5rem;
    vertical-align: top;
}

.bookmark tags-input .tags .tag-item.focus, .bookmark tags-input .tags .tag-item:focus, .bookmark tags-input .tags .tag-item:hover {
    color: #fff;
    background: #2e6da4;
    border-color: #8BAFD3;
}

.bookmark tags-input .right-panel {
    margin-top:-5px;
}

/* tagsDisplay */
.tagsDisplay ul.list-tags {
    max-height: 495px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 -15px -5px 0;
}

.tagsDisplay li {
    line-height: 1rem;
    padding: 0;
    margin-right:2px;
}

.tagsDisplay li .btn input {
    border: none;
    color: #fff;
    background-color: transparent;
}

.tagsDisplay li .btn:hover input {
    color: #333333;
}

/* btn */
.tagsDisplay .btn {
    /*font-size: 1rem;*/
    /*line-height: 1rem;*/
    /*padding: 0 4px;*/
    /*margin-bottom: 1px;*/
}

.tagsDisplay .btn:hover {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    color: #333333;
    text-decoration: none;
}

.tagsDisplay .btn-person {
    color: #fff;
    background-color: #8BAFD3;
    border-color: #2e6da4;
}

/*.tagsDisplay .btn-person.focus, .tagsDisplay .btn-person:focus, .tagsDisplay .btn-person:hover {
    color: #fff;
    background-color: #2e6da4;
    border-color: #8BAFD3;
}*/

.tagsDisplay .btn-tag {
    color: #FFFFFF;
    background-color: #F1CE39;
    border-color: #FAE8AE;
}

/*.tagsDisplay .btn-tag.focus, .tagsDisplay .btn-tag:focus, .tagsDisplay .btn-tag:hover {
    color: #FFFFFF;
    background-color: #FAE8AE;
    border-color: #F1CE39;
}*/

.tagsDisplay .btn-alias {
    color: #333333;
    background-color: #B8D754;
    border-color: #FAE8AE;
}

/*.tagsDisplay .btn-alias.focus, .tagsDisplay .btn-alias:focus, .tagsDisplay .btn-alias:hover {
    color: #333333;
    background-color: #FAE8AE;
    border-color: #B8D754;
}
*/
.tagsDisplay .btn-folder {
    color: #333333;
    background-color: #eeeeee;
    border-color: #999999;
}

/*.tagsDisplay .btn-folder.focus, .tagsDisplay .btn-folder:focus, .tagsDisplay .btn-folder:hover {
    color: #FFFFFF;
    background-color: #999999;
    border-color: #eeeeee;
}*/

.tagsDisplay .btn-article { background-color: #eeeeee; color:#333333; }
.tagsDisplay .btn-bookmark-flag { background-color: #eeeeee; color:#333333; }
.tagsDisplay .btn-important { background-color: #eeeeee; color:#333333; }
.tagsDisplay .btn-duplicated { background-color: #eeeeee; color:#333333; }
.tagsDisplay .btn-removed { background-color: #eeeeee; color:#333333; }
.tagsDisplay .btn-trash { background-color: #eeeeee; color:#333333; }
.tagsDisplay .btn-empty-title { background-color: #eeeeee; color:#333333; }
.tagsDisplay .btn-not-tagged { background-color: #eeeeee; color:#333333; }
.tagsDisplay .btn-stared { background-color: #eeeeee; color:#333333; }

/* todos */

body.todos #todoapp {
    background: #fff;
    /*margin: 130px 0 40px 0;*/
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

body.todos #todoapp input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

body.todos #todoapp input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

body.todos #todoapp input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

body.todos #todoapp h1 {
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

body.todos #new-todo,
body.todos .edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body.todos #new-todo {
    padding: 6px 16px 6px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

body.todos #main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

body.todos label[for='toggle-all'] {
    display: none;
}

body.todos #toggle-all {
    position: absolute;
    top: -42px;
    left: -15px;
    width: 60px;
    height: 34px;
    text-align: center;
    border: none; /* Mobile Safari */
}

body.todos #toggle-all:before {
    content: '❯';
    font-size: 12px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}

body.todos #toggle-all:checked:before {
    color: #737373;
}

body.todos #todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 370px;
    overflow-y: scroll;
}

body.todos #todo-list li {
    position: relative;
    font-size: 12px;
    border-bottom: 1px solid #ededed;
}

body.todos #todo-list li:last-child {
    border-bottom: none;
}

body.todos #todo-list li.editing {
    border-bottom: none;
    padding: 0;
}

body.todos #todo-list li.editing .edit {
    display: block;
    width: 506px;
    padding: 13px 17px 12px 17px;
    margin: 0 0 0 43px;
}

body.todos #todo-list li.editing .view {
    display: none;
}

body.todos #todo-list li .toggle {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    appearance: none;
}

body.todos #todo-list li .toggle:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-10 -30 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

body.todos #todo-list li .toggle:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-10 -30 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

body.todos #todo-list li label {
    white-space: pre-line;
    word-break: break-all;
    padding: 5px 60px 5px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

body.todos #todo-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

body.todos #todo-list li .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: auto;
    width: 40px;
    height: 30px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    line-height: 20px;
}

body.todos #todo-list li .destroy:hover {
    color: #af5b5e;
}

body.todos #todo-list li .destroy:after {
    content: '×';
}

body.todos #todo-list li:hover .destroy {
    display: block;
}

body.todos #todo-list li .edit {
    display: none;
}

body.todos #todo-list li.editing:last-child {
    margin-bottom: -1px;
}

body.todos #footer {
    color: #777;
    padding: 10px 15px;
    height: 40px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    position: relative;
}

body.todos #footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0, 0, 0, 0.2),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

body.todos #todo-count {
    float: left;
    text-align: left;
}

body.todos #todo-count strong {
    font-weight: 300;
}

body.todos #filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

body.todos #filters li {
    display: inline;
}

body.todos #filters li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

body.todos #filters li a.selected,
body.todos #filters li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

body.todos #filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

body.todos #clear-completed,
html body.todos #clear-completed:active {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 0;
}

body.todos #clear-completed:hover {
    text-decoration: underline;
}

body.todos #info {
    margin: 25px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

body.todos #info p {
    line-height: 1;
}

body.todos #info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

body.todos #info a:hover {
    text-decoration: underline;
}

/*
    Hack to remove background from Mobile Safari.
    Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    body.todos #toggle-all,
    body.todos #todo-list li .toggle {
        background: none;
    }

    body.todos #todo-list li .toggle {
        height: 40px;
    }

    body.todos #toggle-all {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-appearance: none;
        appearance: none;
    }
}

@media (max-width: 430px) {
    body.todos #footer {
        height: 50px;
    }

    body.todos #filters {
        bottom: 10px;
    }
}