<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title><%= htmlWebpackPlugin.options.theme.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.theme.description %>">
  <meta name="author" content="<%= htmlWebpackPlugin.options.theme.author %>">
  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.theme.baseUrl %>">
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
  <% } %>
  <%= htmlWebpackPlugin.files.webpackManifest %>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <!-- Async Google Analytics: change UA-71073175-1 to be your site's ID -->
  <script async src="assets/js/app.js"></script>
  <script async src="https://www.google-analytics.com/analytics.js"></script>
  <!-- End Google Analytics -->

  <!-- CSS will be injected by webpack here -->
  <!-- Preload link tags will be injected by webpack here -->

</head>

<body>

  <app>Loading...</app>

  <!-- Scripts will be injected by webpack here -->
</body>
</html>
