<div class="row tagsDisplay">
    <div class="col-xs-9">
        <input ng-model="tagFilter.title" placeholder="filter tags">
        <small>{{tagsFiltered.length}} tags / {{dwlBk.tagsToDisplay.length}}</small>
        <small ng-if="tagFilter.grp">
            &nbsp;|&nbsp;Starting with: <b>"{{tagFilter.grp}}"</b>
        </small>
        <small ng-if="dwlBk.rules[tagFilter.cat]">
            &nbsp;|&nbsp;tag type: <button class="btn btn-xs btn-{{dwlBk.rules[tagFilter.cat].title_canonical}}">{{dwlBk.rules[tagFilter.cat].title}}</button>
        </small>
    </div>
    <div class="col-xs-3">
        <button class="btn btn-xs btn-secondary" ng-click="tagFilter.title = ''; tagFilter.grp = ''; tagFilter.cat = '';">Clear all</button>
    </div>
</div>
<hr class="row"/>
<div class="row tagsDisplay">
    <div class="col-xs-9">
        <ul class="list-unstyled list-inline list-tags" ng-show="tagsFiltered.length > 0">
            <li
                ng-init="numberOfPages()"
                ng-repeat="tag in tagsFiltered = (dwlBk.tagsToDisplay | filter:tagFilter) | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy : 'title' track by $index"
            >
                <a class="btn btn-xs btn-{{dwlBk.rules[tag.cat].title_canonical}}" href="/search/query/{{tag.title | btoa}}">
                     {{tag.title}}
                    <!-- <small ng-if="bookmarkQtyByTag[tag]">&nbsp;({{bookmarkQtyByTag[tag].length}})</small> -->
                </a>
            </li>
        </ul>
        <div ng-show="tagsFiltered.length === 0">
            {{dwlLoading ? 'Loading ...' : 'No tags'}}
        </div>
    </div>
    <div class="col-xs-3">
        <u>Filter results by choosing the first tag type:</u>
        <ul ng-init="tagFilter.cat = ''" class=" list-unstyled list-inline" ng-model="tagFilter.cat" >
            <li ng-repeat="cat in dwlBk.categories | orderBy : 'title_canonical' " ng-if="dwlBk.rules[cat]">
                <button class="btn btn-xs btn-{{dwlBk.rules[cat].title_canonical}}" ng-click="tagFilter.grp = ''; tagFilter.cat = cat;">
                    {{dwlBk.rules[cat].title}}
                </button>
            </li>
        </ul>
        <hr/>
        <u>Filter results by choosing the first character available in your tags:</u>
        <ul ng-init="tagFilter.grp = ''" class=" list-unstyled list-inline" ng-model="tagFilter.grp" >
            <li ng-repeat="grp in dwlBk.grps">
                <button class="btn btn-xs btn-link" ng-click="tagFilter.cat = ''; tagFilter.grp = grp">
                    {{grp}}
                </button>
            </li>
        </ul>
    </div>
</div>
<hr class="row"/>
<div class="row tagsDisplay">
    <div class="col-xs-9">
        <div class="text-center">
            <button
                class="btn btn-xs btn-primary"
                ng-disabled="currentPage == 0"
                ng-click="currentPage=currentPage-1;"
            >
                Previous
            </button>
            {{currentPage+1}}/{{nbPages}}
            <button
                class="btn btn-xs btn-primary"
                ng-disabled="currentPage >= data.length/pageSize - 1"
                ng-click="currentPage=currentPage+1;"
            >
                Next
            </button>
        </div>
<!--
         <hr class="row"/>
        <div class="row results" ng-show="tagsFiltered.length > 0">
        </div>
 -->
    </div>
</div>
