#dwl-bk {
    min-height: 20px;
    max-height: 50%;
    min-width: 20px;
    max-width:33%;
    overflow-y: scroll;
    max-width: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #333333;
    padding: 0 5px;
    z-index: 10000;
    word-wrap: break-word;
}