<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="dwlApp">
    <head ng-controller="dwlCtrl as dwl" ng-clock>

        <meta charset="utf-8">
        <meta name="description" content="{{app.title}}">
        <meta name="author" content="{{app.author}}">

        <title>{{app.title}}</title>

        <base href="/">

        <!-- Cascading Style Sheets -->
        <link href="../vendor/bootstrap-3.3.5/css/bootstrap-3.3.5.min.css" rel="stylesheet" media="screen">
        <link href="../css/custom.css" rel="stylesheet" media="screen">

    </head>

    <body ng-controller="dwlInitCtrl as dwlInit">

        <section>

            <div class="row" ng-show="tab">
                <div class="col-sm-3">
                    new bookmark<br/>
                    // bookmark.parentId
                    // bookmark.index
                    // bookmark.title
                    // bookmark.url
                </div>
                <div class="col-sm-9">
                    <div>
                        <b>{{tab.titleNoTag}}</b><br/>
                        <small>{{tab.title}}</small><br/>
                        ({{tab.url}})<br/>
                        <ul ng-show="tab.tags">
                            <li ng-repeat="tag in tab.tags">{{tag}}</li>
                        </ul>
                        <b>tab</b>
                        <div ng-show="b.tab">
                            id: {{tab.id}} - index: {{tab.index}} - windowId: {{tab.windowId}}<br/>
                            height: {{tab.height}} - width: {{tab.width}}<br/>
                            incognito: {{tab.incognito}} - status: {{tab.status}}<br/>
                            active: {{tab.active}} - audible: {{tab.audible}} - highlighted: {{tab.highlighted}}<span ng-repeat="(mutedIndex, mutedValue) in tab.mutedInfo"> - {{mutedIndex}}:{{mutedValue}}</span> - pinned: {{tab.pinned}} - selected: {{tab.selected}}<br/>
                        </div>
                        <button ng-click="createBookmark({'title':tab.title, 'url':tab.url})">add to bookmarks</button>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="bookmarks">
                <div class="col-sm-3">
                    {{bookmarks.length}} bookmark(s)
                </div>
                <div class="col-sm-9">
                    <div ng-repeat="b in bookmarks">
                        <b>{{b.titleNoTag}}</b><br/>
                        <small>{{b.title}}</small><br/>
                        ({{b.url}})<br/>
                        <ul ng-show="b.tags" class="list-inline">
                            <li ng-repeat="tag in b.tags">{{tag}}</li>
                        </ul>
                        <div>
                            {{b.dateAdded}} - {{b.id}} - {{b.index}}<br/>
                            {{b.parentId}}<br/>
                            {{b.storage}}
                        </div>
                        <b>tab</b>
                        <div ng-show="b.tab">
                            id: {{b.tab.id}} - index: {{b.tab.index}} - windowId: {{b.tab.windowId}}<br/>
                            height: {{b.tab.height}} - width: {{b.tab.width}}<br/>
                            incognito: {{b.tab.incognito}} - status: {{b.tab.status}}<br/>
                            active: {{b.tab.active}} - audible: {{b.tab.audible}} - highlighted: {{b.tab.highlighted}}<span ng-repeat="(mutedIndex, mutedValue) in b.tab.mutedInfo"> - {{mutedIndex}}:{{mutedValue}}</span> - pinned: {{b.tab.pinned}} - selected: {{b.tab.selected}}
                        </div>
                        <button ng-click="removeBookmark(b.id)">delete bookmark {{b.id}}</button>
                        <hr/>
                    </div>
                </div>
            </div>

        </section>

        <img src="../img/spinner.gif" alt="loading" class="dwlLoading"/>

        <!-- javascripts -->
        <script src="../vendor/jquery-2.0.3/js/jquery-2.0.3.min.js"></script>
        <script src="../vendor/bootstrap-3.3.5/js/bootstrap-3.3.5.min.js"></script>
        <script src="../vendor/angular-1.4.7/js/angular.min.js"></script>
        <script src="../vendor/angular-1.4.7/js/angular-route.min.js"></script>
        <script src="../vendor/angular-1.4.7/js/angular-animate.min.js"></script>
        <script src="../vendor/ui-bootstrap-0.13.4/js/ui-bootstrap-tpls-0.13.4.min.js"></script>

        <!-- scripts -->
        <script src="../js/dwl-helper.js"></script>
        <script src="../js/dwl-omnibox.js"></script>

        <script src="../js/dwl-app.js"></script>
        <script src="../js/dwl-app-constant.js"></script>
        <script src="../js/dwl-app-controller.js"></script>

        <script src="../js/popup.js"></script>

    </body>
</html>