<!doctype html>
<html xmlns:ng="http://angularjs.org">
    <head>

        <meta charset="utf-8">
        <meta name="description" content="davask web limited bookmarker">
        <meta name="author" content="David Asquiedge">

        <title>davask web limited bookmarker</title>

        <!-- Cascading Style Sheets -->
        <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../css/custom.css" rel="stylesheet" media="screen">

    </head>

    <body ng-controller="dwlCtrl">

        <section class="container">
            <div  class="row">
                <pre>Bookmarks : {{totalItems}}, Page: {{currentPage}} / {{numPages}}</pre>
                <div class="col-xs-4">
                    order by :
                    <select ng-model="orderProp">
                        <option value="title">Alphabetical</option>
                        <option value="id">Id</option>
                        <option value="dateAdded">Newest</option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <input ng-model="query" ng-change="filter()" placeholder="Search">
                </div>
                <div class="col-xs-4">
                    <select ng-model="entryLimit" ng-change="filter()">
                        <option value="10">10</option>
                        <option value="100">100</option>
                        <option value="1000">1000</option>
                        <option value="{{bookmarks.length}}">All ({{bookmarks.length}})</option>
                    </select>
                </div>
                <div class="col-xs-12">
                    numPages : {{numPages}}<br/>
                    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
            </div>
        </section>

        <section class="container bookmarksDisplay">
            <!--button class="btn btn-link" ng-click="initBookmark()">see all</button-->
            <div ng-cloak ng-repeat="bookmark in filtered = ( bookmarks | filter:query) | orderBy: orderProp | startFrom:(currentPage-1)*entryLimit | limitTo: entryLimit">
                <div  class="row">
                    <div class="col-xs-12">
                        {{bookmark.id}} -
                        <a href="{{bookmark.url}}" target="_blank">
                            <strong>{{bookmark.title}}</strong>&nbsp;
                            <small>{{bookmark.url}}</small>
                        </a>
                    </div>
                </div>
                <!--div  class="row">
                    <div class="col-xs-6">
                        <small>index : {{bookmark.index}}</small><br/>
                        <small>parentId : {{bookmark.parentId}}</small><br/>
                        <small>children {{bookmark.children.length}}</small>
                    </div>
                    <div class="col-xs-6">
                        <small>added : {{bookmark.dateAdded}}</small><br/>
                        <small>group modified : {{bookmark.dateGroupModified}}</small>
                    </div>
                </div-->
            </div>
        </section>

        <section class="container">
            <div  class="row">
                <div class="col-xs-12 pagination">
                    <h4>Pager</h4>
                    <pager total-items="totalItems" ng-model="currentPage" max-size="maxSize"></pager>
                </div>
            </div>
        </section>

        <img src="../img/spinner.gif" alt="loading" class="dwlLoading"/>

        <!-- Scripts -->
        <script src="../js/jquery-2.0.3.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/angular.min.js"></script>
        <script src="../js/ui-bootstrap-tpls-0.13.4.min.js"></script>
        <script src="../js/dwl-bookmarker.js"></script>
        <script src="../js/dwl-controller.js"></script>
        <script src="../js/popup.js"></script>

    </body>
</html>