<!doctype html>
<html xmlns:ng="http://angularjs.org">
    <head>

        <meta charset="utf-8">
        <meta name="description" content="davask web limited bookmarker">
        <meta name="author" content="David Asquiedge">

        <title>davask web limited bookmarker</title>

        <!-- Cascading Style Sheets -->
        <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../css/custom.css" rel="stylesheet" media="screen">

    </head>

    <body ng-controller="dwlCtrl">

        <section class="container">
            <div  class="row">
                <div class="col-xs-12">
                    Search: <input ng-model="query">
                </div>
                <div class="col-xs-12">
                    How Many: <input ng-model="quantity">
                </div>
                <div class="col-xs-12">
                    <select ng-model="orderProp">
                        <option value="title">Alphabetical</option>
                        <option value="id">Id</option>
                        <option value="dateAdded">Newest</option>
                    </select>
                </div>
            </div>
        </section>

        <section class="container">
            <div  class="row">
                <div class="col-xs-12">
                    Search: <input ng-model="query">
                </div>
                <div class="col-xs-12">
                    How Many: <input ng-model="quantity">
                </div>
                <div class="col-xs-12">
                    <select ng-model="orderProp">
                        <option value="title">Alphabetical</option>
                        <option value="id">Id</option>
                        <option value="dateAdded">Newest</option>
                    </select>
                </div>
                <div class="col-xs-12 pagination">
                    <ul class="list-inline">
                        <li ng-class="prevPageDisabled()">
                            <a href ng-click="prevPage()">« Prev</a>
                        </li>
                        <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                            <a href="#">{{n+1}}</a>
                        </li>
                        <li ng-class="nextPageDisabled()">
                            <a href ng-click="nextPage()">Next »</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="container">
            <div  ng-repeat="bookmark in bookmarks">
                <div  class="row">
                    <div class="col-xs-12">
                        {{bookmark.id}} - <a href="{{bookmark.url}}" target="_blank"><strong>{{bookmark.title}}</strong></a>
                    </div>
                </div>
                <div  class="row">
                    <div class="col-xs-12">
                        <small>{{bookmark.url}}</small>
                    </div>
                </div>
                <div  class="row">
                    <div class="col-xs-6">
                        <small>index : {{bookmark.index}}</small><br/>
                        <small>parentId : {{bookmark.parentId}}</small><br/>
                        <small>children {{bookmark.children.length}}</small>
                    </div>
                    <div class="col-xs-6">
                        <small>added : {{bookmark.dateAdded}}</small><br/>
                        <small>group modified : {{bookmark.dateGroupModified}}</small>
                    </div>
                </div>
            </div>
        </section>

        <!-- Scripts -->
        <script src="../js/jquery-2.0.3.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/angular.min.js"></script>
        <script src="../js/dwl-bookmarker.js"></script>
        <script src="../js/dwl-controller.js"></script>
        <script src="../js/popup.js"></script>

    </body>
</html>