<!doctype html>
<html xmlns:ng="http://angularjs.org">
    <head>

        <meta charset="utf-8">
        <meta name="description" content="davask web limited bookmarker">
        <meta name="author" content="David Asquiedge">

        <title>davask web limited bookmarker</title>

        <!-- Cascading Style Sheets -->
        <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../css/custom.css" rel="stylesheet" media="screen">

    </head>

    <body ng-controller="dwlCtrl">

        <section>

            <div class="col-xs-3 tagsDisplay">
                <div  class="row">
                    <pre>{{tagsFiltered.length}} tags</pre>
                    <input type="text" id="filterQuery" ng-model="tagQuery" placeholder="Search" class="col-xs-12">
                    <hr/>

                    <ul class="list-unstyled">
                        <li ng-cloak ng-repeat="tag in tagsFiltered = (bookmarksTags | regex:'tag':tagQuery) | orderBy:'tag' as bookmarksTagsLoop track by $index">
                            <button class="btn btn-primary btn-xs" type="button" ng-click="getBookmarksByIds(tag.ids)" title="{{tag.tag}}">
                                <input id="tag-{{tag.index}}" type="text" value="{{tag.tag}}" data-tag="{{tag.tag}}" ng-blur="batchTag($event)" ng-if="tag.tag != 'dwl-noTag'"/>
                                <span ng-if="tag.tag == 'dwl-noTag'">{{tag.tag}}</span>
                                <span class="badge">{{tag.ids.length}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-9">

                <div class="row">

                    <div class="col-xs-12">
                        <div  class="row">
                            <pre>Bookmarks : {{totalItems}}, Page: {{currentPage}} / {{numPages}}</pre>
                            <div>
                                <div class="col-xs-12">
                                    order by :
                                    <select ng-model="orderProp">
                                        <option value="titleNoTag">Alphabetical</option>
                                        <option value="id">Id</option>
                                        <option value="dateAdded">Newest</option>
                                    </select>
                                    &nbsp;Show&nbsp;
                                    <select ng-model="entryLimit" ng-change="filter()">
                                        <option value="10" ng-if="totalItems>9" >10</option>
                                        <option value="100" ng-if="totalItems>10">100</option>
                                        <option value="1000" ng-if="totalItems>100">1000</option>
                                        <option value="{{bookmarks.length}}" ng-if="totalItems>1000">All ({{bookmarks.length}})</option>
                                    </select>
                                    &nbsp;results per page&nbsp;
                                </div>
                                <div class="col-xs-12">
                                    Search (regex) :
                                    <input type="text" id="filterQuery" ng-model="query" ng-change="filter()" placeholder="Search (regex)">
                                    <input type="hidden" id="filterIds" ng-model="ids" ng-change="filter()" >
                                    &nbsp;by&nbsp;
                                    <select ng-model="filterType" ng-change="filter()">
                                        <option value="titleNoTag">title</option>
                                        <option value="url">url</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="entryLimit" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                            </div>
                        </div>
                    </div>
                    <hr/>

                    <div class="col-xs-12 bookmarksDisplay">
                        <!--button class="btn btn-link" ng-click="initBookmark()">see all</button-->
                        <div class="row">
                            <div ng-cloak ng-repeat="bookmark in filtered = ( bookmarks | regex:filterType:query | list:ids) | startFrom:(currentPage-1)*entryLimit | limitTo: entryLimit | orderBy: orderProp as bookmarksFiltered track by $index" class="col-xs-12 checkbox bd-{{bookmark.dateAdded}}" id="{{bookmark.id}}">
                                <label>
                                    <input type="checkbox" val="{{bookmark.url}}">&nbsp;
                                    <a href="{{bookmark.url}}" target="_blank">
                                        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                    </a>
                                    <span class="glyphicon glyphicon-dwlfavicon" aria-hidden="true" data-lazy="{{bookmark.favicon}}"></span>
                                    <a class="btn btn-link btn-xs" role="button" data-toggle="collapse" href="#collapse{{bookmark.id}}" aria-expanded="false" aria-controls="collapse{{bookmark.id}}">
                                        <span class="caret"></span>&nbsp;
                                        <span ng-if="bookmark.titleNoTag">{{bookmark.titleNoTag}}</span>
                                        <span ng-if="!bookmark.titleNoTag">{{bookmark.safeUrl}}</span>
                                    </a>
                                </label>
                                <br/>
                                <div class="collapse" id="collapse{{bookmark.id}}">
                                    <div class="well">
                                        <strong>{{bookmark.titleNoTag}}</strong>
                                        <a href="{{bookmark.url}}" target="_blank">
                                            {{bookmark.safeUrl}}
                                        </a>
                                        <p>description</p>
                                        <ul id="bi-{{bookmark.index}}"class="list-inline tags">
                                            <li ng-cloak ng-repeat="tag in bookmark.tags as tagsIndexes track by $index">
                                                <input id="{{bookmark.id}}-{{$index}}" type="text" value="{{tag}}" ng-blur="editable($event)"/>
                                            </li>
                                            <li ng-repeat-end>
                                                <input id="{{bookmark.id}}-{{bookmark.tags.length}}" class="newTag" type="text" value="{{empty}}" placeholder="new Tag" ng-blur="editable($event)" ng-focus="editable($event)"/>
                                            </li>
                                        </ul>
                                        <small>{{bookmark.title}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--div  class="row">
                            <div class="col-xs-6">
                                <small>index : {{bookmark.index}}</small><br/>
                                <small>parentId : {{bookmark.parentId}}</small><br/>
                                <small>children {{bookmark.children.length}}</small>
                            </div>
                            <div class="col-xs-6">
                                <small>added : {{bookmark.dateAdded}}</small><br/>
                                <small>group modified : {{bookmark.dateGroupModified}}</small>
                            </div>
                        </div-->
                    </div>

                </div>
                <div class="row">

                    <div class="col-xs-4">
                        <pager total-items="totalItems" ng-model="currentPage" max-size="maxSize" on-select-page="showFavicon()"></pager>
                    </div>
                    <div class="col-xs-8 text-center">
                        <strong ng-click="openChecked()" class="btn btn-link">
                            Open all checked boxes
                        </strong>
                        <div class="row">
                            <div class="col-xs-6">
                                <strong ng-click="checkAll()" class="btn btn-link">
                                    Check all bookmarks
                                </strong>
                            </div>
                            <div class="col-xs-6">
                                <strong ng-click="unCheckAll()" class="btn btn-link">
                                    Uncheck all bookmarks
                                </strong>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <!--section class="container">
            <div  class="row">
                <div class="col-xs-12">
                    <h4>TODOS</h4>
                    <ul>
                        <li>Add checkbox for multi open links</li>
                        <li>refresh all bookmarks objects</li>
                        <li>filter on regexp where each work is /*word*/</li>
                    </ul>
                </div>
            </div>
        </section-->

        <img src="../img/spinner.gif" alt="loading" class="dwlLoading"/>

        <!-- Scripts -->
        <script src="../js/jquery-2.0.3.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/angular.min.js"></script>
        <script src="../js/ui-bootstrap-tpls-0.13.4.min.js"></script>
        <script src="../js/dwl-bookmarker.js"></script>
        <script src="../js/dwl-controller.js"></script>
        <script src="../js/popup.js"></script>

    </body>
</html>