<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="description" content="davask web limited bookmarker">
        <meta name="author" content="David Asquiedge">

        <title>davask web limited bookmarker</title>

        <!-- Cascading Style Sheets -->
        <link href="../vendor/bootstrap-3.3.5/css/bootstrap-3.3.5.min.css" rel="stylesheet" media="screen">
        <link href="../css/custom.css" rel="stylesheet" media="screen">
</head>

<body>
    <div id="container">

        <h1>options</h1>
        <b>
            When reseting all bookmarks, the app will fully process 3 times all your bookmarks
        </b>
        <ol>
            <li>retrieving all your bookmarks from chrome bookmarks</li>
            <li>retrieve the ascendant directory structure of each of your bookmarks</li>
            <li>Save all your bookmarks in storage for quick access</li>
        </ol>
        <button id="resetAll">reset all bookmarks (take time)</button>
        <hr/>
        <h2>futurs updates</h2>
        <u>
            <li>
                add similar bookmarks feature based on dns search
            </li>
            <li>
                add automatic tag add & easy to update tag feature
            </li>
            <li>
                check http://mbenford.github.io/ngTagsInput/demos
            </li>
            <li>
                add popup on each web page to show timer
            </li>
        </u>
        <hr/>

    </div>

    <!-- Scripts -->
    <script src="../vendor/jquery-2.0.3/js/jquery-2.0.3.min.js"></script>
    <script src="../vendor/bootstrap-3.3.5/js/bootstrap-3.3.5.min.js"></script>
    <script src="../js/options.js"></script>

</body>
</html>