<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="description" content="davask web limited bookmarker">
        <meta name="author" content="David Asquiedge">

        <title>davask web limited bookmarker</title>

        <!-- Cascading Style Sheets -->
        <link href="../vendor/bootstrap-3.3.5/css/bootstrap-3.3.5.min.css" rel="stylesheet" media="screen">
        <link href="../css/custom.css" rel="stylesheet" media="screen">
</head>

<body class="options">
    <div id="container">

        <div class="row">
            <div class="col-xs-12">
                <h1>options</h1>
                Default page :
                <select id="route">
                    <option value="page">Bookmark page</option>
                    <option value="search">Bookmarks search </option>
                    <option value="tags">Tags search</option>
                    <option value="timer">Task timer</option>
                </select>
                <div id="status"></div>
                <button id="save">Save</button>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-6">
                <h4>Guide - draft - french</h4>
                ...
<!--
                <strong>
                    L'objectif est de remplacer le systeme de bookmarks de google chrome.
                </strong>
                <p>
                    lorsque l extension est active, un numero apparait sur l icon de l extension, c est le nombre de bookmarks unique enregistres.
                </p>
                <p>
                    Il y a 3 types d icon:
                </p>
                <ul>
                    <li>la blanche : le lien n est pas un bookmark</li>
                    <li>le logo dwl : le lien est un bookmark unique</li>
                    <li>le logo dwl avec une zone noircie en sont centre : le lien est un bookmark avec duplicata</li>
                </ul>
                <p>
                    en haut a gauche tu as le type de bookmarks accessible a savoir :
                </p>
                <ul>
                    <li><b>page</b> pour acceder au fonctionnalite du getionnaire pour la page/tab en cours</li>
                    <li><b>unique</b> pour tout les bookmarks qui sont unique ou dupliques</li>
                    <li><b>duplicate</b> pour ceux qui sont dupliques.</li>
                </ul>
                <p>
                    tu es sense pouvoir faire les choses suivantes :
                </p>
                <ul>
                    <li>
                        sauvegarde un nouveau bookmark en selectionnant page en haut a gauche
                    </li>
                    <li>
                        ajouter des tags (il y a une structure de tag qui aujourd hui fonctionne avec des prefix tel que '/', '#',... mais cela va disparaitre une fois que j aurai gerer ce genre de cas differement) tu peux mettre des tags sans prefix
                    </li>
                    <li>
                        <b>sur unique</b> :<br/>
                        filtrer les bookamrks en ecrivant ou les tags ou des mots dans le titre de ton bookmark en saisissant le texte dans l input search bookmark<br/>
                        filtrer les tags existants dans les bookmarks uniques afin de retrouver ces bookmarks plus facilement
                    </li>
                    <li>
                        <b>sur duplicate</b> : filtrer les bookamrks
                    </li>
                    <li>
                        Dans chaque liste tu dois pouvoir clicker sur le titre du bookmark, cela ouvre une zone d edition dans lequel tu peux mettre a jour le titre, l url, les tags - la mise a jour se fait onBlur.
                    </li>
                </ul>
                <p>
                    Si tu cliques droit sur l icon de l extension tu peux acceder aux options (fonctionnalite native des extension) sur la page des options tu peux reinitialiser la gestion de bookamrks.
                </p>
 -->
            </div>

            <div class="col-sm-6 well">
                <div class="col-sm-6">
                    <h4>TAG SYSTEM</h4>
                    <ul>
                        <li>/<word> => folder</li>
                        <li>#<word> => tag</li>
                        <li>@<username> => person to share with</li>
                        <li>$<word> => alias</li>
                        <li>!<word> => type (article)</li>
                        <li>(<flag>) => bookmark flag</li>
                        <li><date> => define rule under a bookmark is considered new</li>
                        <li>define character (/!@#) for : stared, important, person for sharing</li>
                        <li><date> => define rule under a bookmark is considered new</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>FLAG SYSTEM</h4>
                    <ul>
                        <li>I => important</li>
                        <li>D => duplicated</li>
                        <li>R => removed</li>
                        <li>T => trash</li>
                        <li>E => empty title (except tag)</li>
                        <li>N => not tagged</li>
                        <li>S => stared</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-sm-6">
                <h2>features</h2>
                <u>
                    <li>
                        add similar bookmarks feature based on dns search
                    </li>
                </u>
            </div>
            <div class="col-sm-6">
                <h2>futurs updates</h2>
                <u>
                    <li>
                        add automatic tag add & easy to update tag feature
                    </li>
                    <li>
                        check http://mbenford.github.io/ngTagsInput/demos
                    </li>
                    <li>
                        add popup on each web page to show timer
                    </li>
                    <li>
                        If page is not a bookmark open extension on bookmark/page if timer not running
                    </li>
                    <li>
                        set option choose your opening route
                    </li>
                    <li>
                        set a preroute with subchoice > bookmarks/todo/timer
                    </li>
                    <li>
                        add "select main bookmark folder" : BookmarkBar, Other Bookmarks, Mobile bookmarks
                    </li>
                    <li>
                        for tree structure analyse the number of times the tag is used and put the bigger in first
                    </li>
                    <li>
                        for aliases, make primary the aliases the most used
                    </li>
                    <li>
                        integrate search by url instead of title (see : http://www.thegeekstuff.com/ for the reason)
                    </li>
                </u>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-sm-12">
                <h2>Bugs</h2>
                <ul>
                    <li>Find a fix for live favicon : check favicon url status if 200 leave it</li>
                </ul>
            </div>
        </div>
        <hr/>
    </div>

    <!-- Scripts -->
    <script src="../vendor/jquery-2.0.3/js/jquery-2.0.3.min.js"></script>
    <script src="../vendor/bootstrap-3.3.5/js/bootstrap-3.3.5.min.js"></script>
    <script src="../js/options.js"></script>

</body>
</html>