<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="dwlApp">
    <head ng-controller="appCtrl as app">

        <meta charset="utf-8">
        <meta name="description" content="{{app.title}}">
        <meta name="author" content="{{app.author}}">

        <title>{{app.title}}</title>

        <base href="/">

        <!-- Cascading Style Sheets -->
        <link href="../vendor/bootstrap-3.3.5/css/bootstrap-3.3.5.min.css" rel="stylesheet" media="screen">
        <link href="../css/custom.css" rel="stylesheet" media="screen">

    </head>

    <body>

        <section>

            <div class="row" ng-controller="dwlInitCtrl as dwlInit">
                <div class="col-sm-3">
                    <select ng-model="activity" class="col-xs-12" ng-change="updateActivity()">
                        <option ng-repeat="option in activities" value="{{option.name}}">{{option.name}}</option>
                    </select>
                    <hr/>
                </div>
                <!-- Top Nav -->
                <div class="col-sm-9">
                    <h1>{{activity}}/{{route}}</h1>
                </div>
                <!-- Nav tabs -->
<!--
                <ul class="nav nav-tabs col-sm-9">
                    <li ng-class="{active:route == tabs.name}" ng-repeat="tabs in routes" ng-click="updateRoute(tabs.name)">
                        <a href="{{tabs.path}}" ng-show="activity == 'bookmark'">{{tabs.name}} ({{count[tabs.name]}})</a>
                        <a href="{{tabs.path}}" ng-show="activity == 'todo'">{{tabs.name}}</a>
                    </li>
                </ul>
 -->
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <select ng-model="route" class="col-xs-12" ng-change="updateRouting()" ng-show="activity == 'bookmark'">
                        <option ng-repeat="option in routes" value="{{option.name}}">{{option.name}} - {{count[option.name]}}</option>
                    </select>
                    <select ng-model="route" class="col-xs-12" ng-change="updateRouting()" ng-show="activity == 'todo'">
                        <option ng-repeat="option in routes" value="{{option.name}}">{{option.name}}</option>
                    </select>
                    <hr/>
                    <button ng-click="resetAllBookmarks()" ng-show="activity == 'bookmark'">reset all bookmarks (take time)</button>

                </div>
                <div class="col-xs-9 scrollable displayArea">
                    <!-- Tab panes -->
                    <div class="view-animate-container tab-content row">
                        <div ng-view class="view-animate"></div>
                    </div>
                </div>
            </div>

        </section>

        <img src="../img/spinner.gif" alt="loading" class="dwlLoading"/>

        <!-- javascripts -->
        <script src="../vendor/jquery-2.0.3/js/jquery-2.0.3.min.js"></script>
        <script src="../vendor/bootstrap-3.3.5/js/bootstrap-3.3.5.min.js"></script>
        <script src="../vendor/angular-1.4.7/js/angular.min.js"></script>
        <script src="../vendor/angular-1.4.7/js/angular-route.min.js"></script>
        <script src="../vendor/angular-1.4.7/js/angular-animate.min.js"></script>
        <script src="../vendor/ui-bootstrap-0.13.4/js/ui-bootstrap-tpls-0.13.4.min.js"></script>
        <script src="../vendor/angular-timer-master/dist/assets/js/angular-timer-bower.js"></script>
        <script src="../vendor/angular-timer-master/dist/assets/js/angular-timer-all.min.js"></script>

        <!-- scripts -->
        <script src="../js/dwl-helper.js"></script>
        <script src="../js/chrome-bookmarker.js"></script>
        <script src="../js/dwl-omnibox.js"></script>

        <script src="../js/dwl-app.js"></script>
        <script src="../js/dwl-app-config.js"></script>
        <script src="../js/dwl-app-constant.js"></script>
        <script src="../js/dwl-app-value.js"></script>
        <script src="../js/dwl-app-service.js"></script>
        <script src="../js/dwl-app-factory.js"></script>
        <script src="../js/dwl-app-directive.js"></script>
        <script src="../js/dwl-app-filter.js"></script>
        <script src="../js/dwl-app-controller.js"></script>

        <script src="../js/popup.js"></script>

    </body>
</html>