<ul class="nav nav-tabs">
  <li role="presentation" ng-show="false" ng-class="{index:'active'}[$route.current.$$route.bodyClass]" class="disabled"><a href="/">index</a></li>
  <li role="presentation" ng-class="{page:'active'}[$route.current.$$route.bodyClass]"><a href="/page">page</a></li>
  <li role="presentation" ng-class="{search:'active'}[$route.current.$$route.bodyClass]"><a href="/search">search</a></li>
  <li role="presentation" ng-class="{tags:'active'}[$route.current.$$route.bodyClass]"><a href="/tags">tags</a></li>
  <li role="presentation" ng-class="{timer:'active'}[$route.current.$$route.bodyClass]"><a href="/timer">Timer</a></li>
  <li role="presentation" ng-class="{todos:'active'}[$route.current.$$route.bodyClass]"><a href="/todos">Todos</a></li>
</ul>
