  <div class="header row clearfix">

    <a href="http://www.davaskweblimited.com" target="_blank" title="www.davaskweblimited.com" class="col-1 text-center">
        <img src="assets/img/logo.png" class="logo" alt="davask web limited">
    </a>
    <h1 class="col-4">bookmark manager</h1>
    <div class="header-nav col-7" id="navbar-menu">
      <!--ul class="nav nav-tabs">
        <li role="presentation" class="nav-item">
          <a [routerLink]=" ['./page'] "
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            class="nav-link">
            Page
          </a>
        </li>
        <li role="presentation" class="nav-item">
          <a [routerLink]=" ['./search'] "
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            class="nav-link">
            Search
          </a>
        </li>
        <li role="presentation" class="nav-item">
          <a [routerLink]=" ['./tags'] "
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            class="nav-link">
            Tags
          </a>
        </li>
        <li role="presentation" class="nav-item">
          <a [routerLink]=" ['./timer'] "
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            class="nav-link">
            Timer
          </a>
        </li>
        <li role="presentation" class="nav-item">
          <a [routerLink]=" ['./todos/active'] "
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            class="nav-link">
            Todos
          </a>
        </li>
      </ul>
    </div-->
    <!-- <img  ng-model="dwlLoading" src="../img/spinner.gif" alt="loading" class="dwlLoading"/> -->

  </div>
