@import '../assets/scss/variables';

.header {
  background: $dwl-blue;
  color: $white;

  .logo {
    max-height: 1.2rem;
  }

  h1, a {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-bottom: 0.25rem;
  }
  .nav>li>a {
    padding:0 5px 1px 5px;
  }

  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #eceeef #eceeef $white;
    background: $white;
  }

}
